{{ block "index" .}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://unpkg.com/htmx.org@1.9.12"
      integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="antialiased bg-black text-white mx-auto max-w-6xl flex flex-col gap-8 p-4">
    <div>
      <h1 class="text-3xl font-medium">Go HTMX Tailwind Cloudflare Workers AI</h1>
    </div>
    <div class=" flex flex-col gap-4">

      <div id="prompt">{{ template "prompt" . }}</div>
      <div id="ai" class=" p-2 rounded-lg border border-neutral-700 transition-all duration-75">{{ template "response" . }}</div>
    </div>
  </body>
  <style>
    .htmx-indicator{
      display:none;
    }
    .htmx-request .htmx-indicator{
      display:inline;
    }
    .htmx-request.htmx-indicator{
      display:inline;
    }
  </style>
</html>
{{ end }} 

{{ block "prompt" . }}
  <form class="flex flex-col gap-2" hx-post="/prompt" hx-target="#ai" hx-swap="innerHTML" hx-disabled-elt="input, button" hx-indicator="#indicator">
    <input type="text" id="prompt" name="prompt" class="text-black rounded-lg p-2" placeholder="Ask me anything"></input>
    <button class="flex flex-row justify-center items-center rounded-lg bg-white px-4 py-2 text-black w-min disabled:opacity-75 disabled:animate-pulse">
      <span>Generate</span>
      <img id="indicator" class="htmx-indicator h-6 w-6 pl-2" src="../assets/loading.svg">
    </button>
  </form>
{{ end }}

{{ block "response" .}}
  {{ . }}
{{ end }}
